package ${package.Controller};
import com.etcc.base.BaseResult;
import com.etcc.${package.ModuleName}.entity.domain.${entity};
import com.etcc.${package.ModuleName}.adapter.${entity}Adapter;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.*;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import java.util.List;
import com.etcc.page.Pager;
import com.etcc.page.PageController;
import com.etcc.${package.ModuleName}.entity.vo.${entity}QueryVo;
import com.etcc.${package.ModuleName}.entity.dto.${entity}QueryDto;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.beans.factory.annotation.Autowired;
import ${package.Service}.${table.serviceName};
import com.etcc.${package.ModuleName}.entity.dto.${entity}Dto;
import com.etcc.${package.ModuleName}.entity.vo.${entity}Vo;
import org.springframework.validation.annotation.Validated;


/**
 * @desc
 * @author ${author}
 * @date ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Autowired
    public ${table.serviceName} ${table.entityPath}Service;

    @GetMapping(value="/{id}")
    public BaseResult<${entity}Vo> findById(@PathVariable("id") String id){
        return BaseResult.success(${entity}Adapter.adapt${entity}Vo(${table.entityPath}Service.findById(id)));
    }

    @GetMapping
    public BaseResult<List<${entity}Vo>> findByIds(@RequestParam("ids") List<String> ids) {
        return BaseResult.success(${entity}Adapter.adapt${entity}Vos(${table.entityPath}Service.findByIds(ids)));
    }

    @GetMapping("/search")
    public BaseResult<Pager> findByCondition(@RequestParam(value = "page", defaultValue = "1") int page,
                                             @RequestParam(value = "size", defaultValue = "20") int size,
                                             ${entity}QueryDto queryDto) {
        return BaseResult.success(${table.entityPath}Service.findPage(getPage(page, size), queryDto));
    }

    @GetMapping("/list")
    public BaseResult<List<${entity}QueryVo>> findByCondition(${entity}QueryDto queryDto) {
        List<${entity}> byCondition = ${table.entityPath}Service.findByCondition(queryDto);
        return BaseResult.success(${entity}Adapter.adapt${entity}QueryVos(byCondition));
    }

    @PostMapping
    public BaseResult<String> saveByCondition(@Validated @RequestBody ${entity}Dto ${table.entityPath}Dto) {
        return BaseResult.success(${table.entityPath}Service.saveByCondition(${entity}Adapter.adapt${entity}(${table.entityPath}Dto)));
    }

    @PutMapping
    public BaseResult<Integer> updateByCondition(@Validated @RequestBody ${entity}Dto ${table.entityPath}Dto) {
        return BaseResult.success(${table.entityPath}Service.updateByCondition(${entity}Adapter.adapt${entity}(${table.entityPath}Dto)));
    }

    @DeleteMapping(value="/{id}")
    public BaseResult<Integer> removeById(@PathVariable("id") String id){
        return BaseResult.success(${table.entityPath}Service.removeById(id));
    }

    @DeleteMapping
    public BaseResult<Integer> removeByIds(@RequestParam("ids") List<String> ids) {
        return BaseResult.success(${table.entityPath}Service.removeByIds(ids));
    }

}