package com.ems.${package.ModuleName}.entity.dto;

import com.ems.common.base.BaseEntity;
import java.time.LocalDateTime;
import lombok.Data;

/**
 * @desc todo
 * 注意：特定场景dto对象请根据页面传的参数自定义字段
 * @author ${author}
 * @date ${date}
 */
@Data
public class ${entity}Dto extends BaseEntity {

    private static final long serialVersionUID = 1L;

    #foreach($field in ${table.fields})
    private ${field.propertyType} ${field.propertyName};

    #end
}
