package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;
import com.etcc.${package.ModuleName}.entity.dto.${entity}QueryDto;
import java.io.Serializable;
import java.util.List;

/**
 * @desc
 * @author ${author}
 * @date ${date}
 */
@Repository
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    @Override
    ${entity} selectById(@Param("id")Serializable id);

    @Override
    int deleteById(Serializable id);

    List<${entity}> selectByIds(@Param("ids") List<String> ids);

    int deleteByIds(@Param("ids") List<String> ids);

    List<${entity}> selectByCondition(${entity}QueryDto ${table.entityPath}QueryDto);

    long countByCondition(${entity}QueryDto ${table.entityPath}QueryDto);


}