package ${package.Entity};

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
#if(${entityLombokModel})
import lombok.Data;
#end

/**
 * @desc
 * @author ${author}
 * @date ${date}
 */

#if(${entityLombokModel})
@Data
#end
#if(${table.convert})
@TableName("${table.name}")
#end
#if(${superEntityClass})
public class ${entity} extends ${superEntityClass}#if(${activeRecord})<${entity}>#end {
#end
#foreach($field in ${table.fields})
    #if (${field.propertyName} != "createdAt" && ${field.propertyName} != "createdBy" &&
        ${field.propertyName} != "updatedAt" && ${field.propertyName} != "updatedBy"&& ${field.propertyName} != "deleted")
    #if("$!field.comment" != "")
    /**
    * ${field.comment}
    */
    #end
    @TableField("${field.name}")
    private ${field.propertyType} ${field.propertyName};
    #end
#end
}