package ${package.Service};
import com.etcc.page.Pager;
import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.etcc.${package.ModuleName}.entity.vo.${entity}QueryVo;
import com.etcc.${package.ModuleName}.entity.dto.${entity}QueryDto;
import java.util.List;


/**
 * @desc
 * @author ${author}
 * @date ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

     ${entity} findById(String id);

     List<${entity}> findByIds(List<String> id);

     Integer removeById(String id);

     Integer removeByIds(List<String> ids);

     String saveByCondition(${entity} ${table.entityPath});

     Integer updateByCondition(${entity} ${table.entityPath});

     long countByCondition(${entity}QueryDto ${table.entityPath}QueryDto);

     List<${entity}> findByCondition(${entity}QueryDto ${table.entityPath}QueryDto);

     Pager<${entity}QueryVo> findPage(IPage page, ${entity}QueryDto ${table.entityPath}QueryDto);
}
