package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import com.etcc.page.Pager;
import com.etcc.utils.Safes;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.etcc.${package.ModuleName}.entity.vo.${entity}QueryVo;
import com.etcc.${package.ModuleName}.entity.dto.${entity}QueryDto;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import lombok.extern.slf4j.Slf4j;
import org.springframework.context.annotation.Primary;
import org.springframework.stereotype.Service;
import com.etcc.${package.ModuleName}.adapter.${entity}Adapter;
import static com.etcc.enums.CommonFrameBizStatus.NOT_FOUND_EXCEPTION;
import org.springframework.beans.factory.annotation.Autowired;
import com.etcc.exception.BusinessStatusException;
import java.util.List;

/**
 * @desc
 * @author ${author}
 * @date ${date}
 */
@Slf4j
@Service
@Primary
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Autowired
    private ${table.mapperName} ${table.entityPath}Mapper;

    @Override
    public ${entity} findById(String id) {
        ${entity} ${table.entityPath} = ${table.entityPath}Mapper.selectById(id);
            if (${table.entityPath} != null){ return ${table.entityPath};}
            else {throw new BusinessStatusException(NOT_FOUND_EXCEPTION);}
    }

    @Override
    public List<${entity}> findByIds(List<String> ids) {
        return ${table.entityPath}Mapper.selectByIds(ids);
    }

    @Override
    public Integer removeById(String id) {
        ${entity} ${table.entityPath} = new ${entity}();
        ${table.entityPath}.setId(id);
        ${table.entityPath}.setDeleted(1);
        return updateByCondition(${table.entityPath});
    }

    @Override
    public Integer removeByIds(List<String> ids) {
        Safes.of(ids).forEach(id ->removeById(id));
        return Safes.of(ids).size();
    }

    @Override
    public String saveByCondition(${entity} ${table.entityPath}) {
        ${table.entityPath}Mapper.insert(${table.entityPath});
        return ${table.entityPath}.getId();
    }

    @Override
    public Integer updateByCondition(${entity} ${table.entityPath}) {
        return ${table.entityPath}Mapper.updateById(${table.entityPath});
    }

    @Override
    public List<${entity}> findByCondition(${entity}QueryDto queryDto) {
        return ${table.entityPath}Mapper.selectByCondition(queryDto);
    }

    @Override
    public long countByCondition(${entity}QueryDto queryDto) {
        return ${table.entityPath}Mapper.countByCondition(queryDto);
    }

    @Override
    public Pager<${entity}QueryVo> findPage(IPage page, ${entity}QueryDto queryDto) {
        IPage iPage = ${table.entityPath}Mapper.selectPage(page, queryDto);
        return Pager.pager(iPage.getTotal(), iPage.getPages(), ${entity}Adapter.adapt${entity}QueryVos(iPage.getRecords()));
        }
}