package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.etcc.${package.ModuleName}.entity.dto.${entity}QueryDto;
import java.util.List;


/**
 * @desc
 * @author ${author}
 * @date ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

     ${entity} findById(String id);

     List<${entity}> findByIds(List<String> id);

     Integer removeById(String id);

     Integer removeByIds(List<String> ids);

     String saveByCondition(${entity} ${table.entityPath});

     Integer updateByCondition(${entity} ${table.entityPath});

     List<${entity}> findByCondition(${entity}QueryDto ${table.entityPath}QueryDto);
}
