package com.ems.${package.ModuleName}.entity.vo;

import com.ems.common.base.BaseEntity;
import java.time.LocalDateTime;
import lombok.Data;

/**
 * @desc todo:
 * 注意：特定场景vo对象请根据页面需要自定义字段
 * @author ${author}
 * @date ${date}
 */
@Data
public class ${entity}Vo extends BaseEntity {

    private static final long serialVersionUID = 1L;

    #foreach($field in ${table.fields})
    private ${field.propertyType} ${field.propertyName};
    #end
}
